
/* Your CSS Code here. */
 body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        nav {
            background-color: #333;
            color: #fff;
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex;
        }

        li {
            margin: 0 15px;
        }
 a {
            text-decoration: none;
            color: #fff;
        }

        .images {
            text-align: center;
            margin-top: 20px;
        }

        h2 {
            margin-bottom: 10px;
		}